@keyframes animatedBackground {
  from {
    background-position: 0;
  }
  to {
    background-position: -1533px;
  }
}

@-webkit-keyframes animatedBackground {
  from {
    background-position: 0;
  }
  to {
    background-position: -1533px;
  }
}

body {
  background-image: url("../images/bg.jpg");
  background-repeat: repeat-x;
  animation: animatedBackground 15s linear infinite;
  -webkit-animation: animatedBackground 15s linear infinite;
}

#header {
  float: right;
}

#dino-emoji {
  font-size: 105px;
  position: relative;
  top: 75px;
}

#dino-title {
  font-size: 70px;
}

#btn-start-game {
  font-size: 56px;
}

#btn-close {
  font-size: 25px;
  position: relative;
  right: 30px;
  top: 20px;
}

#btn-close:hover {
  color: crimson;
}

#btn-start-game:hover {
  font-size: 80px;
  color: cornsilk;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}
