* {
  font-family: "Dinosaur", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  /* 🚫 Avoid scroll */
  overflow-y: hidden;
  overflow-x: hidden;
  cursor: url('../images/cursor.png'), auto;
}
